
@import "variables";
@import "components/content";
@import "components/form";
@import "components/section";
@import "components/field";
@import "components/button";
@import "components/fields/heading";
@import "components/fields/upload";
@import "components/loading";
@import "components/answer";
@import "components/divider";
@import "utilities";

.formoj {
  position: relative;

  &__alert-wrapper {
    padding-top: $formoj-alert-margin-y;
    padding-bottom: $formoj-alert-margin-y;
  }
  &--empty {
    min-height: 200px;
    .formoj__alert-wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
