
.fj-rating {
  max-width: max-content;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 25rem;
  }

  //@media (min-width: 768px) {
  //  flex-wrap: nowrap;
  //  justify-content: start;
  //  align-items: center;
  //  padding-bottom: 0;
  //}

  &__list {
    width: calc(100% + 1rem);
    display: flex;
    margin: 0 -.5rem;
    justify-content: center;
    //@media (min-width: 768px) {
    //  width: auto;
    //}
  }
  &__item {
    position: relative;
    padding: 0 .5rem;
    margin-bottom: 0;
    .fj-radios__check-label {
      display: block;
    }
  }
  &__label {
    overflow-wrap: break-word;
    flex: 1 1 0%;
    min-width: 0;
    line-height: 1.25;
    font-size: .875rem;
    margin-top: 1rem;
    //padding-top: .5rem;
    //@media (min-width: 768px) {
    //  flex: 0 0 auto;
    //}
  }
  &__label--lowest {
    order: 1;
    margin-right: .5rem;
    //@media (min-width: 768px) {
    //  margin-right: 2rem;
    //  order: 0;
    //}
  }
  &__label--highest {
    order: 1;
    margin-left: .5rem;
    text-align: right;
    //@media (min-width: 768px) {
    //  margin-left: 2rem;
    //  text-align: left;
    //  order: 0;
    //}
  }
}
