.fj-answer {

  &__content {
  }

  &__text {
    white-space: pre-line;
  }

  &__empty {
    color: #666;
    font-style: italic;
  }

  &__footer {
    margin-top: 1.5rem;
  }

  dt {
    margin-bottom: .125em;
  }
  dd {
    margin-bottom: .75em;
  }
  ul {
    margin-bottom: 0;
  }
  dl, dd:last-child {
    margin-bottom: 0;
  }
}
