.fj-field {
  &__label {
    margin-bottom: $formoj-label-margin-bottom;
    font-weight: bold;
  }
  &__help {
    font-size: .875rem;
    .fj-content, p {
      display: inline;
    }
  }
  &--required {
    .fj-field__label {
      &::after {
        content: "\A0*";
      }
    }
  }
}
