.fj-section {
  &__header {
    margin-bottom: 1rem;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2.5rem;
    text-align: right;
  }
  &__indication {
    font-size: .875em;
    letter-spacing: .25em;
  }
  &__button + &__button {
    margin-left: 1rem;
  }
}